body {
  background-image: linear-gradient(
      rgba(34, 40, 49, 0.6),
      rgba(34, 40, 49, 0.2)
    ),
    url(../images/cheers.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
  text-align: center;
}

button {
  width: 18%;
}

.input-content {
  width: 40%;
}

#cocktail-recipe {
  font-family: monospace;
  display: block;
  margin: 0 auto;
  max-width: 500px;
}

.container {
  padding: 30px;
  width: 60%;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 20px;
}

.hidden {
  display: none;
}
