body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/cheers.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  text-align: center;
}

h1 {
  font-size: 64px;
  text-shadow: 3px 3px 0px rgba(178, 255, 84, 0.8);
}

i {
  font-size: 28px;
  position: relative;
  top: -30px;
}

button {
  background-color: rgba(178, 255, 84, 0.8);
  border: none;
  border-radius: 5px;
  width: 40%;
}

footer {
  display: block;
  margin: auto;
  max-width: 600px;
}

p {
  font-size: 18px;
}

form {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

#cocktail-recipe {
  font-family: monospace;
  display: block;
  margin: 0 auto;
  max-width: 500px;
}

.container {
  padding: 30px;
  width: 60%;
  background-color: rgb(255, 255, 255, 0.75);
  border-radius: 20px;
}

@media (max-width: 900px) {
  .container {
    width: 100%;
    padding: 10px;
    border-radius: 0px;
  }

  form {
    max-width: 100%;
  }

  button {
    width: 80%;
  }
}
