body {
  background-image: linear-gradient(
      rgba(34, 40, 49, 0.6),
      rgba(34, 40, 49, 0.2)
    ),
    url(../images/cheers.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

h1 {
  font-size: 64px;
  text-shadow: 3px 3px 0px rgba(178, 255, 84, 0.8);
}

i {
  font-size: 28px;
  position: relative;
  top: -30px;
}

button {
  background-color: rgba(178, 255, 84, 0.8);
  border: none;
  border-radius: 5px;
  width: 18%;
}

footer {
  display: block;
  margin: auto;
  max-width: 600px;
}

p {
  font-size: 18px;
}

form {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

#cocktail-recipe {
  font-family: monospace;
  display: block;
  margin: 0 auto;
  max-width: 500px;
}

.container {
  padding: 30px;
  width: 60%;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 20px;
}
